{{ "<!-- ATTEND -->" | safeHTML }}
<section class="bg-secondary" id="attend">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>FlexJS is a new summit track that shows where FlexJS is today and lays out the future for the FlexJS project. It is aimed at existing Apache Flex and new Apache FlexJS developers, designers, and users. Hosted along side the ApacheCon event, participants have a wonderful opportunity to discover new projects and exchange ideas.
                <br /><br />
                Miami is a wonderful travel destination with something for everyone.  Consider extending your stay a day or two to enjoy the beach and sun.
                <br /><br />
                The summit is being hosted at ApacheCon, so attendees will be registering to attend ApacheCon.<br />
                <b>The earlier you register, the more you save, so get your tickets early.</b>
                <br />
                <div class="text-center"><a href="http://events.linuxfoundation.org/events/apachecon-north-america/attend/register-" target="_blank" class="btn btn-primary btn-xl wow tada">REGISTER TODAY</a></div>
                <br />
                <ul>
                    <li><b>Early Registration:</b> through March 12, 2017</li>
                    <li><b>Standard Registration:</b> March 13, 2017 - April 16, 2017</li>
                    <li><b>Late Registration:</b> April 17, 2017 - Event Date</li>
                    <li><b>Committer Registration:</b> Special pricing (at a significant discount) is available for active Apache Committers.  Please <a href="mailto:events@linuxfoundation.org" target="_blank">contact the event organizers</a> for details.</li>
                    <li><b>Speaker Registration:</b> One free registration is included with each accepted talk.  <a href="#get-involved">Submit a Talk</a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>News</h3>
                    <p class="text-muted">The latest Apache FlexJS features</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary"></i>
                    <h3>Talks</h3>
                    <p class="text-muted">Hear from users and contributors</p>
                </div>
            </div>
        </div>
    </div>
</section>
