{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/portfolio/apacheflexwhite.png'></img>
            <p />
            <p style="color:white;">ApacheCon is hosting the first Apache FlexJS summit of 2017.<br />
            Join us in sunny Miami, Florida on May 18th 2017</p>
            <br />
            <strong>Speakers have been notified and the schedule is available. Come join us!</strong>
            <br />
        </div>
    </div>
</header>
