<section class="bg-dark" id="get-involved">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Get Involved</h2>
            <hr class="primary">

	        <div class="row">
	        	<div class="col-xs-12 col-md-8 col-md-push-2">
					Apache FlexJS conference is a great opportunity to present what you have been working on to people involved in the project.  
					<br /><br />
					All talks should be submitted to the ApacheCon North America (2017) event with an Apache FlexJS note.
					<br /><br />
					Please specify <b>Apache FlexJS</b> or <b>FlexJS</b> in the Audience section so the talk is added to the FlexJS tracks.
					<br /><br />
					<b>Each accepted talk includes one free registration to the conference.</b>
					<br /><br />
					<h4>The Call For Participation (CFP) closes on <b>February 11th</b>, so get your talk in today.</h4>
					<br><br>
					<a href="http://events.linuxfoundation.org/events/apachecon-north-america/program/cfp" target="_blank" class="btn btn-default btn-xl wow tada">SUBMIT A TALK</a>
				</div>
			</div>

		</div>
    </div>
</section>
