<section class="bg-dark" id="get-involved">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Get Involved</h2>
            <hr class="primary">

	        <div class="row">
	        	<div class="col-xs-12 col-md-8 col-md-push-2">
					The Apache FlexJS summit is a great opportunity to hear what people have been working on in FlexJS and from people directly involved in the project.  
					<br /><br />
					The Call For Participation (CFP) has closed and the speakers have been announced.
					<br><br>
					So what are you waiting for? <a href="http://events.linuxfoundation.org/events/apachecon-north-america/attend/register-" target="_blank" class="btn btn-default btn-xl wow tada">Register today</a> and join us! 
					<br><br>
					When you attend the FlexJS Summit you also get access to all of ApacheCon which includes 100 sessions, 75+ speakers, 4 subconferences (including this one), and Bar Camp Apache.
					<br><br>
				</div>
			</div>

		</div>
    </div>
</section>
