{{ "<!-- LOCATION -->" | safeHTML }}
<aside class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary">
            <p>
                InterContinental Miami
                <br>100 Chopin Plaza
                <br>Miami, Florida 33131
            </p>
            <div class="row">
               <div class="col-xs-12 col-md-10 col-md-push-1">
                    <a href="https://www.google.ca/maps/place/InterContinental+Miami/@25.7787807,-80.2097092,14.2z/data=!4m12!1m6!3m5!1s0x88d9b4276878ddbb:0x5bb1fcd840d2173c!2sInterContinental+Miami!8m2!3d25.7724247!4d-80.1854473!3m4!1s0x88d9b4276878ddbb:0x5bb1fcd840d2173c!8m2!3d25.7724247!4d-80.1854473"><img style="border-radius:40px;" width="100%" src="img/google_map.png"></img></a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</aside>