{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">

                <!--
                <p class="text-faded" style="text-align:center;">
                    The schedule will be posted once we have evaluated all the talks.<br />
                    <br />
                    <b>Deadline for talk submissions:</b> <b>February 11, 2017</b><br />
                    <b>Accepted talks notification:</b> <b>March 6, 2017</b><br />
                    <b>Schedule Published:</b> <b>March 9, 2017</b><br />
                    <br />
                    On that note, <a href="#get-involved" target="_blank">submit a talk</a>...
                </p>
                -->
                
                <p class="text-faded">
                    The schedule is as follows.
                </p>
                <p class="text-faded">
                    The below times are in the EST (GMT-5) timezone.<br />
                    The current EST time is: <span id="current-time" style="color:white;"></span>
                </p>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Thursday, May 18th</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">9:00 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Introduction to FlexJS</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Yishay Weiss</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">FlexJS is the name for a next-generation Flex SDK that has the goal of allowing applications developed in MXML and ActionScript to not only run in the Flash/AIR runtimes, but also to run natively in the browser without Flash, on mobile devices as a PhoneGap/Cordova application, and in embedded JS environments such as Chromium Embedded Framework. FlexJS has the potential to allow your MXML and ActionScript code to run in even more places than Flash currently does.<br/>In this session Yishay will give you an introduction into FlexJS and it's concepts to get you started in this exciting tech-stack.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:00 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Apache FlexJS Web Application Development with Visual Studio Code</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Josh Tynjala</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Learn to set up an environment for developing and debugging Apache FlexJS applications in Visual Studio Code. Install the required tools, create a new project, build it, and debug the running application in your web browser.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Coffee Break</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:50 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:20 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Testing Apache FlexJS Applications</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Justin Mclean</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Are you an Apache Flex developer looking to move to using the FlexJS framework? Are you concerned that when it comes to testing that you will be a world of pain with the many different browsers out there? Concerned that you'll lose one of the benefits of Flex SDK based applications?<br/>In this talk I go through how you can reuse you existing code and testing techniques to test Apache FlexJS applications. We'll also look at what testing you'll need to do now your application runs in a web browser and how to support your application across many different devices with different sized screens and browsers.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:20 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Building FlexJS Applications with Maven</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Christofer Dutz</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Maven has become the build system of choice for a big part of the FlexJS community. Making it possible to build FlexJS application using a well-established tool-chain.<br/>In this talk I will explain how to setup your first modules using our new Maven archetypes and go though the different aspects of building FlexJS applications with Maven.<br/>I'll finish the session with an outlook on what is to come and what will be possible in the near future.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Lunch</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:10 pm</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">2:40 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">Migrating from Flex to FlexJS</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Gabe Harbs</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">FlexJS has many of the features of the orginal Flex framework and makes it very efficient to develop applications. However there are lots of differences both in the framework architecture and the underlying technologies. Join us as we go through the process of converting existing applications to FlexJS and discover tried and true methods to migrate existing functionality. We will go through methods and discuss pitfalls. We will discuss reall applications which we have already migrated and the specific issues we have dealt with.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">3:40 am (double session)</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">1.0 Discussion Round</div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">Piotr Zarzycki</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded">As the Flex team is approaching the 1.0 release we'd like to discuss what needs to be done in order to call it a 1.0.<br/>We already have quite a set of unique features built-in, but we know that still some things are missing. Not all are required for a 1.0 and not everything we think is important might also be seen that way by our users.<br/>In this informal discussion round we would like to involve not only the developers currently working on features, but also our users or potential users.<br/>Help us make FlexJS the most productive toolsuite you can think of and will never want to miss again.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    setInterval(function() { 
        offset = -5.0 //EST
        client_date = new Date();
        utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
        server_date = new Date(utc + (3600000*offset));
        $('#current-time').html(server_date.toLocaleString());
    }, 1000);
</script>
