{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">

                <!--
                <p class="text-faded" style="text-align:center;">
                    The schedule will be posted once we have evaluated all the talks.<br />
                    <br />
                    <b>Deadline for talk submissions:</b> <b>February 11, 2017</b><br />
                    <b>Accepted talks notification:</b> <b>March 6, 2017</b><br />
                    <b>Schedule Published:</b> <b>March 9, 2017</b><br />
                    <br />
                    On that note, <a href="#get-involved" target="_blank">submit a talk</a>...
                </p>
                -->
                
                <p class="text-faded">
                    The schedule is as follows.
                </p>
                <p class="text-faded">
                    The below times are in the EST (GMT-5) timezone.<br />
                    The current EST time is: <span id="current-time" style="color:white;"></span>
                </p>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Thursday, May 18th</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">9:00 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalA" class="portfolio-link" data-toggle="modal">Introduction to FlexJS</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Yishay Weiss</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">In this session Yishay will give you an introduction into FlexJS and it's concepts to get you started in this exciting tech-stack.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:00 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalB" class="portfolio-link" data-toggle="modal">Apache FlexJS Web Application Development with Visual Studio Code</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Josh Tynjala</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">Learn to set up an environment for developing and debugging Apache FlexJS applications in Visual Studio Code.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Coffee Break</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">10:50 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">11:20 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalC" class="portfolio-link" data-toggle="modal">Testing Apache FlexJS Applications</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Justin Mclean</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">In this talk I go through how you can reuse you existing code and testing techniques to test Apache FlexJS applications.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">12:20 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalD" class="portfolio-link" data-toggle="modal">Building FlexJS Applications with Maven</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Christofer Dutz</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">In this talk I will explain how to setup your first modules using our new Maven archetypes and go though the different aspects of building FlexJS applications with Maven.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;">Lunch</div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">1:10 pm</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;"></div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">2:40 am</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalE" class="portfolio-link" data-toggle="modal">Migrating from Flex to FlexJS</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Gabe Harbs</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">Join us as we go through the process of converting existing applications to FlexJS and discover tried and true methods to migrate existing functionality.</div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="color:white; margin-top:10px; margin-bottom:10px;"></div> 
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left; clear:both;">3:40 am (double session)</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded"><a href="#portfolioModalF" class="portfolio-link" data-toggle="modal">1.0 Discussion Round</a></div>
                    <div class="col-xs-12 col-md-3 text-faded" style="text-align:left;">Piotr Zarzycki</div>
                    <div class="col-xs-11 col-xs-push-1 col-md-9 col-md-push-0 text-faded" style="clear:both;">As the Flex team is approaching the 1.0 release we'd like to discuss what needs to be done in order to call it a 1.0.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    setInterval(function() { 
        offset = -5.0 //EST
        client_date = new Date();
        utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
        server_date = new Date(utc + (3600000*offset));
        $('#current-time').html(server_date.toLocaleString());
    }, 1000);
</script>
