{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!--
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalIan" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/speaker.jpg'></img>
                        <h3>Name</h3>
                        <p class="text-muted">Title</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalIan" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Name</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/speaker.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Talk Title</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="col-xs-12 col-md-8 col-md-push-2">
                <h4>The Call For Participation (CFP) closes on <b>February 11th</b>, so get your talk in today.</h4>
                <br><br>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:30px;">
                <a href="#get-involved" target="_blank" class="btn btn-primary btn-xl wow tada">SUBMIT A TALK</a>
            </div>
        </div> <!--close row-->
    </div> <!--close container-->
</section>