{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalA" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/yishay.jpg'></img>
                        <h3>Yishay Weiss</h3>
                        <p class="text-muted">Introduction to FlexJS</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalA" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Yishay Weiss</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/yishay.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Introduction to FlexJS</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalB" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/josh.jpg'></img>
                        <h3>Josh Tynjala</h3>
                        <p class="text-muted">Apache FlexJS Web Application Development with Visual Studio Code</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalB" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Josh Tynjala</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/josh.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Apache FlexJS Web Application Development with Visual Studio Code</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalC" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/justin.jpg'></img>
                        <h3>Justin Mclean</h3>
                        <p class="text-muted">Testing Apache FlexJS Applications</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalC" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Justin Mclean</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/justin.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Testing Apache FlexJS Applications</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalD" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/christofer.png'></img>
                        <h3>Christofer Dutz</h3>
                        <p class="text-muted">Building FlexJS Applications with Maven</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalD" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Christofer Dutz</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/christofer.png" class="img-responsive img-centered" alt="">
                                        <h3>Building FlexJS Applications with Maven</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalE" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/gabe.png'></img>
                        <h3>Gabe Harbs</h3>
                        <p class="text-muted">Migrating from Flex to FlexJS</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalE" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Gabe Harbs</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/christofer.png" class="img-responsive img-centered" alt="">
                                        <h3>Migrating from Flex to FlexJS</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalF" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/piotr.jpg'></img>
                        <h3>Piotr Zarzycki</h3>
                        <p class="text-muted">1.0 Discussion Round</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalF" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Piotr Zarzycki</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/piotr.jpg" class="img-responsive img-centered" alt="">
                                        <h3>1.0 Discussion Round</h3>
                                        <p style="text-align:left;">Talk description</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!--close row-->
    </div> <!--close container-->
</section>