{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalA" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/blank.png"></img>
                        <h3>Yishay Weiss</h3>
                        <p class="text-muted">Introduction to FlexJS</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalA" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Yishay Weiss</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/blank.png" class="img-responsive img-centered" alt="">
                                        <h3>Introduction to FlexJS</h3>
                                        <p style="text-align:left;">FlexJS is the name for a next-generation Flex SDK that has the goal of allowing applications developed in MXML and ActionScript to not only run in the Flash/AIR runtimes, but also to run natively in the browser without Flash, on mobile devices as a PhoneGap/Cordova application, and in embedded JS environments such as Chromium Embedded Framework. FlexJS has the potential to allow your MXML and ActionScript code to run in even more places than Flash currently does.<br/>In this session Yishay will give you an introduction into FlexJS and it's concepts to get you started in this exciting tech-stack.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalB" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/josh.jpg"></img>
                        <h3>Josh Tynjala</h3>
                        <p class="text-muted">Apache FlexJS Web Application Development with Visual Studio Code</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalB" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Josh Tynjala</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/josh.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Apache FlexJS Web Application Development with Visual Studio Code</h3>
                                        <p style="text-align:left;">Learn to set up an environment for developing and debugging Apache FlexJS applications in Visual Studio Code. Install the required tools, create a new project, build it, and debug the running application in your web browser.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalC" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/justin.jpg"></img>
                        <h3>Justin Mclean</h3>
                        <p class="text-muted">Testing Apache FlexJS Applications</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalC" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Justin Mclean</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/justin.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Testing Apache FlexJS Applications</h3>
                                        <p style="text-align:left;">Are you an Apache Flex developer looking to move to using the FlexJS framework? Are you concerned that when it comes to testing that you will be a world of pain with the many different browsers out there? Concerned that you'll lose one of the benefits of Flex SDK based applications?<br/>In this talk I go through how you can reuse you existing code and testing techniques to test Apache FlexJS applications. We'll also look at what testing you'll need to do now your application runs in a web browser and how to support your application across many different devices with different sized screens and browsers.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalD" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/christofer.png"></img>
                        <h3>Christofer Dutz</h3>
                        <p class="text-muted">Building FlexJS Applications with Maven</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalD" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Christofer Dutz</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/christofer.png" class="img-responsive img-centered" alt="">
                                        <h3>Building FlexJS Applications with Maven</h3>
                                        <p style="text-align:left;">Maven has become the build system of choice for a big part of the FlexJS community. Making it possible to build FlexJS application using a well-established tool-chain.<br/>In this talk I will explain how to setup your first modules using our new Maven archetypes and go though the different aspects of building FlexJS applications with Maven.<br/>I'll finish the session with an outlook on what is to come and what will be possible in the near future</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalE" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/blank.png"></img>
                        <h3>Gabe Harbs</h3>
                        <p class="text-muted">Migrating from Flex to FlexJS</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalE" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Gabe Harbs</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/blank.png" class="img-responsive img-centered" alt="">
                                        <h3>Migrating from Flex to FlexJS</h3>
                                        <p style="text-align:left;">FlexJS has many of the features of the orginal Flex framework and makes it very efficient to develop applications. However there are lots of differences both in the framework architecture and the underlying technologies. Join us as we go through the process of converting existing applications to FlexJS and discover tried and true methods to migrate existing functionality. We will go through methods and discuss pitfalls. We will discuss reall applications which we have already migrated and the specific issues we have dealt with.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalF" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src="img/speakers/piotr.jpg"></img>
                        <h3>Piotr Zarzycki</h3>
                        <p class="text-muted">1.0 Discussion Round</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalF" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Piotr Zarzycki</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/piotr.jpg" class="img-responsive img-centered" alt="">
                                        <h3>1.0 Discussion Round</h3>
                                        <p style="text-align:left;">As the Flex team is approaching the 1.0 release we'd like to discuss what needs to be done in order to call it a 1.0.<br/>We already have quite a set of unique features built-in, but we know that still some things are missing. Not all are required for a 1.0 and not everything we think is important might also be seen that way by our users.<br/>In this informal discussion round we would like to involve not only the developers currently working on features, but also our users or potential users.<br/>Help us make FlexJS the most productive toolsuite you can think of and will never want to miss again.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!--close row-->
    </div> <!--close container-->
</section>