{{ "<!-- STREAM -->" | safeHTML }}
<aside class="bg-dark" id="stream">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Watch #ccc2016mtl Online</h2>
            <hr class="primary">

	        <div class="row" style="margin-top:30px;">
	        	<div class="col-xs-12 col-md-8 col-md-push-2">
					<p><a href="https://www.youtube.com/playlist?list=PLCfLScXpEyAS4YkJpeqDriP7JcU82Tx2r" target="_blank">Click here to watch all the videos</a></p>
				</div>
			</div>
		</div>
    </div>
</aside>
